<!DOCTYPE html>
<html>
	<head>
		<style>
		p {
	    color: blue;
		background: yellow
		font-weight: bold;
		text-align: right;
		}
		</style>
	</head>
		<body>
		<p>Hey! over here!</p>
		<p>These paragraphs are styled with CSS.</p>
		</body>
		</html>