 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Page</title>

  <style>
    ol {
      list-style-type: upper-roman;
    }

    ul {
      list-style-type: square;
    }
  </style>
</head>

<body>

  <h1>List Demo</h1>

  <ol>
    <li>Catch a bass</li>
    <li>Weigh the fish</li>
    <li>Record the score</li>
  </ol>

  <ul>
    <li>Fishing rod</li>
    <li>Tackle box</li>
    <li>Boat snacks</li>
  </ul>

</body>
</html>

