
    ol {
      list-style-type: upper-roman;
    }

    ul {
      list-style-type: square;
    }

  <ol>
    <li>Catch a bass</li>
    <li>Weigh the fish</li>
    <li>Record the score</li>
  </ol>

  <ul>
    <li>Fishing rod</li>
    <li>Tackle box</li>
    <li>Boat snacks</li>
  </ul>







