
    table {
      border: 1px solid silver;
      border-collapse: collapse;
      width: 100%;
      background-color: lightblue;
    }

    th {
      background-color: black;
      color: cornsilk;
    }

    tr, td {
      background-color: darkgreen;
      color: white;
    }

    tr:hover td {
      background-color: yellow;
      color: black;
    }
 


